<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Flask Weather App</title>
  </head>
  <body style='background-color: #f5f5f5'>
          <br>
          <div class='container'>
                  <div class='container-md'>
                          <h1>Flask Weather App</h1>
                          <br>
                          <div>
                                  <form method='POST' class='card border-1 p-3 shadow-md'>  
                                          <h6>Enter City and State to search for Weather</h6>
                                          <br/><br/>
                                          <br/>
                                  <div class='col-md-4'>
                                          <label class='form-label'>City</label>
                                          <input class='form-control' name='city' placeholder='Boston'>
                                  </div>
                                  <div class='col-md-4'>
                                          <label class='form-label'>State</label>
                                          <input class='form-control' name='state' placeholder='MA'>
                                  </div>
                                  <div class'col-md-4'>
                                          <br>
                                          <button class='btn btn-primary'>submit</button>
                                  </div>
                                  </form>
                          </div>
                          <br>
                          {% if request.method == 'POST' %}
                          <div>
                                  <form class='card border-1 p-3 shadow-md'>
                                          <h4>Weather for:</h4>
                                          <br>
                                          <h4>{{ city }}, {{ state }}</h4>
                                          
                                          <h6><img src='http://openweathermap.org/img/wn/{{ icon_id }}@2x.png'> {{ desc }}</h6>
                                          <label>Temperature: {{ temp }} {{ degree_symbol }}F</label>
                                          <label>Humidity: {{ humid }}%</label>
                                          <label>Wind: {{ wind }} mph</label>
                                  </form>
                          </div>
                          {% endif %}
                  </div>
          </div>
          <br>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>
